body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(84, 245, 30);
  text-align: center;
  background-image: url('bargar.jpg.jpg.jpg');
  background-size: cover;
  width: auto;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

#welcome {
  text-align: center;
  color: rgb(84, 245, 30);
}

nav {
  text-align: center;
  margin: 20px 0;
}

nav a {
  display: inline-block;
  background-color: darkgreen;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
}
nav a:hover {
  background: red;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  width: 250px;
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.card h2 {
  color: darkgreen;
}

.card p {
  font-size: 18px;
  color: #555;
}
.card button {
  background: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.card button:hover {
  background: darkred;
}
